<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<div th:replace="fragments/fragments :: head ('Добавить класс для учителя')"></div>

<body>
<div th:replace="fragments/fragments :: navbar"></div>
<div class="container">
    <form method="post">
        <div th:replace="fragments/fragments :: classDTO"></div>
        <div th:replace="fragments/fragments :: userDTO (false, false)"></div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="submit" class="btn btn-primary mb-3" value="Отправить">
        <div th:replace="fragments/fragments :: notification"></div>
    </form>
</div>
<div th:replace="fragments/fragments :: scripts"></div>
</body>

</html>