<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/fragments :: head ('Добавить ответ')"></div>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<div class="container mt-2">
    <div class="card">
        <h7 class="card-header" th:text="'Выполнить до: '+${task.getDateTemplate()}"></h7>
        <div class="card-body">
            <h5 th:text="${task.getName()}"></h5>
            <p class="card-text" th:text="${task.getBody()}"></p>
            <form method="post" id="form">
                <textarea required class="form-control" name="body" placeholder="Введите решение"></textarea>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="submit" class="btn btn-primary mt-2" value="Отправить">
            </form>
            <div th:replace="fragments/fragments :: notification"></div>
        </div>
    </div>
</div>
<div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>