<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <title th:text="'School1C '+${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<nav class="container navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{'/'}">School1C</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li sec:authorize="authenticated" class="nav-item active">
                <a class="nav-link" th:href="@{'/'}">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="hasRole('ROLE_OPERATOR')">
                <a class="nav-link" href="/aboutSchool">О школе</a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OPERATOR', 'ROLE_TEACHER')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Выбрать
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OPERATOR')" class="dropdown-item"
                       th:href="@{'/adduser'}">Добавить пользователя</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{'/addSchool'}">Добавить
                        школу</a>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OPERATOR')" th:href="@{'/addClass'}"
                       class="dropdown-item">Добавить класс</a>
                    <a sec:authorize="hasRole('ROLE_TEACHER')" class="dropdown-item" th:href="@{'/addTask'}">Добавить
                        задание</a>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OPERATOR')" class="dropdown-item"
                       th:href="@{'/addClassForTeacher'}">Привязать учителя к классу</a>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OPERATOR')" class="dropdown-item"
                       th:href="@{'/setClassForStudent'}">Переприривязать ученика к классу</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li sec:authorize="authenticated" class="nav-item">
                <a class="nav-link" href="/logout">Выйти</a>
            </li>
        </ul>
    </div>
</nav>
<div th:object="${userDTO}" th:fragment="userDTO (password, role)">
    <label for="name">Имя пользователя</label>
    <input required type="text" class="form-control form-group" id="name" name="userName"
           placeholder="Введите имя" th:value="${userDTO?.getUserName()}">
    <div th:if="${password}" class="form-group">
        <label for="password">Пароль</label>
        <input required type="text" class="form-control" id="password" name="password"
               placeholder="Введите пароль" th:value="${userDTO?.getPassword()}">
    </div>
    <div class="form-group" th:if="${role}">
        <label for="role">Тип пользователя</label>
        <select name="role" class="form-control  form-group" id="role" onchange="checkSelect()">
            <option value="Teacher">Учитель</option>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <option value="Operator">Оператор</option>
            </div>
            <option value="Student">Ученик</option>
        </select>
    </div>
</div>
<div class="form-group" th:object="${schoolDTO}" th:fragment="schoolDTO">
    <label for="schoolName">Название школы</label>
    <input required type="text" class="form-control" id="schoolName" name="schoolName"
           placeholder="Введите школу" th:value="${schoolDTO?.getSchoolName()}">
</div>
<div id="dinContainer" class="form-group" th:object="${classDTO}" th:fragment="classDTO">
    <label for="className">Название класса</label>
    <select name="classId" id="className" sec:authorize="hasAnyRole('ROLE_OPERATOR', 'ROLE_TEACHER')">
        <option th:each="schoolClass : ${classes}"
                th:text="${schoolClass.getNameWithNumber()}"
                th:value="${schoolClass.getId()}">
        </option>
    </select>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <select name="classNumber" class="form-group" id="classNumber">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
        <input type="text" id="className" name="className" class="form-control" placeholder="Введите класс"
               th:value="${classDTO?.getClassName()}">
    </div>
</div>
<div th:fragment="notification">
    <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert">
    </div>
    <div th:if="${completed}" th:text="${completed}" class="alert alert-success" role="alert">
    </div>
</div>
<div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</div>
</html>