<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/fragments :: head ('Добавить школу')"></div>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<div class="container">
    <div class="col">
        <form method="post">
            <div class="form-group">
                <label for="name">Название школы</label>
                <input class="form-control" type="text" name="name" placeholder="Введите назавние школы">
            </div>
            <input class="form-control" type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
        <div class="col  mt-3">
            <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert">
            </div>
            <div th:if="${completed}" th:text="${completed}" class="alert alert-success" role="alert">
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/fragments :: scripts"></div>
</body>

</html>