<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a href="/adft">Adft</a><a href="/addschool">School</a><a href="/adduser">User</a></h1>
<form method="post">
    <input type="text" name="name" placeholder="enter your name">
    <input type="text" name="password" placeholder="enter your password">
    <input type="text" name="school">
    <select name="typeOfUser" >
        <option value="teacher">Учитель</option>
        <option value="student">Юзер</option>
    </select>
    <input type="submit" value="Send">
</form>
</body>
</html>