<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="fragments/navbar :: body"></div>
<div class="container-fluid">
    <div sec:authorize="hasRole('ROLE_STUDENT')" class="rov justify-content-center">
        <h1>Не выполненные</h1>
        <tr th:each="task : ${newtasks}">
            <div class="container mt-2 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 th:text="${task.getStatus()}"></h5>
                        <h7>Выполнить до:</h7>
                        <h7 th:text="${task.getDateTemplate()}"></h7>
                    </div>
                    <div class="card-body">
                        <h5 th:text="${task.getName()}" class="card-title"></h5>
                        <p th:text="${task.getBody()}" class="card-text"></p>
                        <a th:href="@{'/addanswer/?id='}+${task.getId()}" class="btn btn-primary">Выполнить</a>
                    </div>
                </div>
            </div>

        </tr>
        <h1>Выполненные и просроеченные</h1>
        <tr th:each="task : ${oldtasks}">
            <div class="container mt-2 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 th:text="${task.getStatus()}"></h5>
                        <h7>Выполнить до:</h7>
                        <h7 th:text="${task.getDateTemplate()}"></h7>
                    </div>
                    <div class="card-body">
                        <h5 th:text="${task.getName()}" class="card-title"></h5>
                        <p th:text="${task.getBody()}" class="card-text"></p>
                    </div>
                </div>
            </div>

        </tr>
    </div>
    <div sec:authorize="hasRole('ROLE_TEACHER')">
        <div th:if="${schoolClasses}"><h1>Классы:</h1>
            <div class="row justify-content-center">
                <tr th:each="schoolClass : ${schoolClasses}">
                    <div class="container"><h4><a th:href="@{'/tasksOfClass/?id='+${schoolClass.getId()}}"
                                                  th:text="${schoolClass.getName()}"></a></h4>
                    </div>
                </tr>
            </div>
        </div>
        <div th:if="${tasks}">
            <h1>Задачи для класса:
                <div th:text="${schoolClass.getName()}"></div>
            </h1>
            <tr th:each="task : ${tasks}">
                <div class="container mt-2 mb-2">
                    <div class="card">
                        <div class="card-header">
                            <h7>Выполнить до:</h7>
                            <h7 th:text="${task.getDateTemplate()}"></h7>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a th:text="${task.getName()}" th:href="@{'/answersOfTask/?taskId='+${task.getId()}+'&classId='+${schoolClass.getId()}}"></a></h5>
                            <p th:text="${task.getBody()}" class="card-text"></p>
                        </div>
                    </div>
                </div>
            </tr>
        </div>
        <div th:if="${answers}">
            <div class="container mt-2 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h7>Выполнить до:</h7>
                        <h7 th:text="${task.getDateTemplate()}"></h7>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a th:text="${task.getName()}"></a></h5>
                        <p th:text="${task.getBody()}" class="card-text"></p>
                    </div>
                </div>
            </div>
            <h1>Решения:</h1>
            <tr th:each="answer : ${answers}">
                <div class="container">
                    <h3><a th:href="@{'/checkAnswer/?id='+${answer.getId()}}" th:text="${answer.getStudent().getName()}"></a></h3>
                </div>
            </tr>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>