<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<div th:replace="fragments/fragments :: head ('Главная')"></div>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<div class="container">
    <h1>Не выполненные</h1>
    <h2 th:if="${teacherName}" th:text="'Показаны только от '+${teacherName}+':'"></h2>
    <label for="teacherNames">Найти только для</label>
    <select id="teacherNames" onchange="redirectForSort()">
        <option value="">Всех</option>
        <tr th:each="name : ${teacherNames}">
            <option th:if="${teacherName==name}" selected th:value="${name}" th:text="${name}"></option>
            <option th:if="${teacherName!=name}" th:value="${name}" th:text="${name}"></option>
        </tr>
    </select>
    <tr th:each="task : ${actualTasks}">
        <div class="container mb-3">
            <div class="card">
                <div class="card-header">
                    <h5>Не решено!</h5>
                    <h6 th:text="'От: '+${task.getTeacherName()}"></h6>
                    <h6>Выполнить до:</h6>
                    <h6 th:text="${task.getDateString()}"></h6>
                </div>
                <div class="card-body">
                    <h5 th:text="${task.getName()}" class="card-title"></h5>
                    <p th:text="${task.getBody()}" class="card-text"></p>
                    <a th:href="'/addAnswer/?id='+${task.getId()}"
                       class="btn btn-primary">Выполнить</a>
                </div>
            </div>
        </div>
    </tr>
    <h1>Выполненные и просроченные</h1>
    <tr th:each="answer : ${answers}">
        <div class="container mb-3">
            <div class="card">
                <div class="card-header">
                    <h5>Решено</h5>
                    <h6 th:text="'От: '+${answer.getTaskDTO().getTeacherName()}"></h6>
                    <h6 th:text="'Оценка: '+${answer.getRating()}"></h6>
                    <h6>Выполнить до:</h6>
                    <h6 th:text="${answer.getTaskDTO().getDateString()}"></h6>
                </div>
                <div class="card-body">
                    <h5 th:text="${answer.getTaskDTO().getName()}" class="card-title"></h5>
                    <p th:text="${answer.getTaskDTO().getBody()}" class="card-text"></p>
                    <h5>Решение:</h5>
                    <p th:text="${answer.getBody()}" class="card-text"></p>
                    <h5>Комментарий:</h5>
                    <p th:text="${answer.getComment()}" class="card-text"></p>
                </div>
            </div>
        </div>
    </tr>
    <tr th:each="task : ${oldTasks}">
        <div class="container mb-3">
            <div class="card">
                <div class="card-header">
                    <h5>Просрочено!</h5>
                    <h6 th:text="'От: '+${task.getTeacherName()}"></h6>
                    <h6>Выполнить до:</h6>
                    <h6 th:text="${task.getDateString()}"></h6>
                </div>
                <div class="card-body">
                    <h5 th:text="${task.getName()}" class="card-title"></h5>
                    <p th:text="${task.getBody()}" class="card-text"></p>
                </div>
            </div>
        </div>
    </tr>
</div>
<div th:replace="fragments/fragments :: scripts"></div>
<script src="/js/sortByTeacher.js"></script>
</body>
</html>